[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
pandas = "*"
pymupdf = "*"
pypdf2 = "*"
requests = "*"
pip = "*"
pypdf = "*"
pytest = "*"
geopy = "*"
geocoder = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"
streamlit = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
